// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.nav-date{
    font-size: 10px;
    height: 37px;
    text-align: center;
    padding: 3px 15px;
    color: black;
    font-weight: bold;

}
